
.navbar {
  background-color: black;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 100%;
  box-sizing:border-box;
  .fa-circle {
    position: relative;
    top: 16px;
    left: 5px;
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    font-size: 1.2rem;
  }
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .navbar-brand {
    margin: 0; 
    > img {
      width: 210px;
      height: 75px;
    }
  }
}

@media screen and (max-width: 991px) {
  .navbar-brand {
    > img {
      width: 140px;
      height: 50px;
    }
  }
}


.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0.25rem;
}

.navbar-dark .navbar-toggler {
  color: #fff;
  border-color: rgba(255,255,255,0.1);
}

@media screen and  (min-width: 992px) {
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }

  .nav-item {
    justify-content: flex-end;
    display: flex;
    padding: 0.5rem 0.2rem 0.5rem 1rem;
    border-radius: 10px;
    &:hover {
      background-color: #4d4b4b;
    }
  }
}

@media screen and  (max-width: 991px) {
  header {
    width: 100%;
  }
  .navbar {
    width: 100%;
  }
  .nav-link {
    position: relative;
    left: 25px;
  }
  .fa-circle {
    position: relative !important;
    top: 31px !important;
    padding-right: 3px;
  }
  .nlfb {
    position: relative;
    left: 43px;
  }
}


.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background: no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media screen and (min-width: 992px) {
  .navbar .navbar-collapse {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
}

@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 18px;
  }
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #fff !important;
  margin-right: 20px;
  &:hover {
    color: #fff !important;
    text-decoration: underline;
    text-decoration-color: white;
  }
}
